:root {
    --first-clr-: #E40A3D;
    --second-clr-: #ffffff;
    --third-clr-: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none !important;
    list-style: none !important;
}

span {
    color: var(--first-clr-);
}

h1:not(.First-anime) {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

header {
    border-radius: 0px 0px 70px 70px;
    box-shadow: 0px 5px 30px #E40A3D;
    background-image: linear-gradient(to right bottom, #e40a3d, #a91239, #6f162e, #39131d, #000000);
    width: 100%;
    height: 100vh;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em;
}

header nav .logo h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

header nav .logo h2 span {
    color: var(--second-clr-);
}

header nav.show .logo h2 span {
    color: var(--first-clr-);
}

header nav ul {
    display: none;
}

/*End nav*/

.hero {
    text-align: center;
    height: 100vh;
    width: 100%;
    margin-top: 6em;
}

.hero .hero-text h1 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--second-clr-);
    letter-spacing: 2px;
    margin-bottom: 0.50em;
}

.hero .hero-text h1 span:first-of-type {
    color: var(--first-clr-);
}

.hero .hero-text h1 span:nth-child(2) {
    display: inline-block;
    border-bottom: 3px solid var(--second-clr-);
}

.hero .hero-text h3 {
    color: var(--second-clr-);
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    line-height: 26px;
    padding-bottom: 1em;
}

.hero .hero-img {
   display: none;
}

.hero .hero-text .downloadBtn-second {
    padding: 8px 1px;
    width: 50%;
    background-color: var(--second-clr-);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-top: 1em;
    margin-left: 8em;
}

.hero .hero-text .downloadBtn-second::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 0%;
    height: 100%;
    background-color: var(--first-clr-);
    border-radius: 25px;
    transition: .5s;
    z-index: 1;
}

.hero .hero-text .downloadBtn-second:hover::before {
    width: 100%;
}

.hero .hero-text .downloadBtn-second a {
    color: var(--third-clr-);
    font-weight: 700;
    font-size: 0.90rem;
    z-index: 99;
    transition: .5s all;
}

.hero .hero-text .downloadBtn-second a:hover {
    color: var(--second-clr-);
}

/*End Hero */

/*Start about*/
.about {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0em 1em;
    text-align: center;
}

.about h1 {
    margin-top: 4em;
    margin-bottom: 0.70em;
}

.about p {
    font-weight: 400;
    color: gray;
    font-size: 1rem;
}

.about .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 2em 0em;
    padding: 1em 1em;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.about .card::before {
    content: 'VALEVPN';
    color: rgb(207, 207, 207);
    opacity: 0.3;
    font-weight: 800;
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-12deg);
    transform-origin: 50% 0;
    z-index: -1;
}

.about .about-content .card svg {
    width: 80px;
}

.about .about-content .card .text h3 {
    font-weight: 600;
    font-size: 1.4rem;
    padding-top: 0.30em;
}
.about .about-content .card .text p {
    color: gray;
    font-weight: 500;
    font-size: 0.85rem;
}

/*End about*/

/* Start section for vpnSpeed */
.vpn-speed {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.vpn-speed .left h1 {
    margin-top: 4em;
    margin-bottom: 0.70em;
}

.vpn-speed .left p {
    font-weight: 500;
    font-size: 1rem;
    color: gray;
}

.vpn-speed .left span {
    font-weight: bold;
}

.vpn-speed .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* End section for vpnSpeed */

/*start map*/
.map {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f5f3f4;
    margin-top: 5em;
    margin-bottom: 3em;
    padding: 1em;
}

.map .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.map .right h1 {
    margin-top: 1.5em;
}

.map .right p {
    font-weight: 500;
    font-size: 0.90rem;
    text-align: center;
}
/*end map*/

/*start info*/
.info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 5em;
    padding: 1em 1em;
}

.info .left p {
    font-weight: 500;
    font-size: 0.90rem;
    color: gray;
    text-align: center;
    margin-top: 0.60em;
}

.info .left h5 {
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2em;
}

.info .left a {
    color: var(--third-clr-);
    font-weight: 600;
    font-size: 0.90rem;
    border: 1px solid var(--first-clr-);
    padding: 7px 15px;
    border-radius: 25px;
    margin-left: 11em;
    position: relative;
}

.info .left a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 0%;
    height: 100%;
    background-color: var(--first-clr-);
    border-radius: 25px;
    transition: .5s;
    z-index: -1;
}

.info .left a:hover::before {
    width: 100%;
}

.info .left a:hover {
    color: var(--second-clr-);
}

.info .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*end info*/

/*start setup*/
.setup {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.setup .left h1 {
    margin-top: 5em;
}

.setup .left p {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2em;
}

.setup .left a {
    color: var(--third-clr-);
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid var(--first-clr-);
    border-radius: 25px;
    padding: 7px 15px;
    position: relative;
    margin-left: 12em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
}

.setup .left a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 0%;
    height: 100%;
    background-color: var(--first-clr-);
    border-radius: 25px;
    transition: .5s;
    z-index: -1;
}

.setup .left a:hover::before {
    width: 100%;
}

.setup .left a:hover {
    color: var(--second-clr-);
}

.setup .right video {
    width: 100%;
    height: 50%;
    padding: 1em 5em;
}
/*end setup*/

/*start pricing plan*/
.pricing-plan {
    margin-top: 9em;
}

.pricing-plan .all-box {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1em 1em;
}

.pricing-plan p {
    font-weight: 500;
    color: gray;
    font-size: 0.90rem;
}

.pricing-plan .box {
    margin-top: 3em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 0em 2em;
}

.pricing-plan .box img {
    width: 40%;
    height: 50%;
    object-fit: cover;
}

.pricing-plan .box h2 {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 3em;
}

/*end pricing plan*/

/*start plan*/
.plan {
    padding: 0em 1em;
    margin-bottom: 2em;
}

.plan h1 {
    margin-top: 5em;
}

.plan p {
    font-weight: 500;
    color: gray;
    font-size: 0.90rem;
    text-align: center;
}

.plan .plan-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 3em;
    margin-bottom: 2em;
}

.plan .plan-box .plan-card {
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 2em 1em;
    position: relative;
    overflow: hidden;
    transition: .5s all;
    cursor: pointer;
}
.plan .plan-box .plan-card:hover {
    transform: translateY(-5%)
}

.plan .plan-card h6 {
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    transform-origin: 45% 75px;
    background-color: var(--first-clr-);
    padding: 0.50em 2em;
    border-radius: 20px;
}

.plan .plan-card p {
    font-weight: 700;
    font-size: 1.2rem;
    text-align: start;
}

.plan .plan-card h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.plan .plan-card h2 span {
    font-size: 0.95rem;
}

.plan .plan-card h3 {
    font-weight: 500;
    font-size: 0.90rem;
    color: gray;
    margin-bottom: 1.5em;
}

.plan .plan-card h3 span {
    text-decoration: line-through !important;
}

.plan .plan-card .content {
    margin-bottom: 2em;
}

.plan .plan-card h4 {
    font-weight: 500;
    font-size: 0.95rem;
}

.plan .plan-card .content .more {
    margin-top: 1.5em;
    color: var(--second-clr-);
    font-weight: 800;
    background-color: var(--first-clr-);
    border-radius: 10px;
    padding: 1em 2em;
}

.plan .plan-card a {
    color: var(--second-clr-);
    font-weight: 700;
    background-color: var(--first-clr-);
    border: 1px solid var(--first-clr-);
    padding: 1em 1em;
    border-radius: 25px;
    transition: .5s all;
    display: flex;
    justify-content: center;
}

.plan .plan-card a:hover {
    color: var(--third-clr-);
    background-color: var(--second-clr-);
}

.plan h5 {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.plan h5 a {
    color: var(--first-clr-);
    font-weight: 600;
}

/*end plan*/

/*start footer*/
footer {
    background-color: #202020;
    height: 60vh;
}

footer .logo {
    padding: 2em 0em;
}

footer .logo h2 {
    color: var(--second-clr-);
    text-align: center;
    font-size: 1.5rem;
}

footer .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em 1em;
    gap: 10px;
}

footer .link h2 {
    color: var(--second-clr-);
    font-size: 1.2rem;
}

footer .link a {
    color: var(--second-clr-);
    text-decoration: underline !important;
}

footer h3 {
    text-align: center;
    color: var(--second-clr-);
    font-size: 0.90rem;
    font-weight: 500;
    margin-top: 0.40em;
}

footer .img-store a img {
    width: 30%;
    height: 30%;
    margin-left: 4em;
    margin-top: 2em;
}


/*end footer*/




/* medai for tablet*/
@media only screen and (min-width: 600px) {}

/*medai for desktop*/
@media only screen and (min-width: 768px) {
    header nav {
        padding: 1em 2em;
    }
    
    header nav .logo h2 {
        font-size: 1.8rem;
    }
    
    header nav .downloadBtn {
        padding: 8px 15px;
    }
    
    header nav .downloadBtn a {
        font-size: 1rem;
    }

    header nav ul {
        display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-right: 10em;
    padding-top: 1em;
    }

    header nav ul li a {
        color: var(--second-clr-);
        font-weight: 600;
        transition: .5s;
    }

    header nav ul li a:hover {
        color: var(--first-clr-);
    }
    
    /*End nav*/
    
    .hero {
        display: grid;
        grid-template-columns: 690px 1fr;
        align-items: center;
        padding: 0em 2em;
        overflow: hidden;
        gap: 20px;
        margin-top: 0em;
        text-align: start;
    }
    
    .hero .hero-text h1 {
        font-size: 3rem;
        color: var(--second-clr-);
        letter-spacing: 3px;
    }
    
    .hero .hero-text h3 {
        font-size: 1.2rem;
        line-height: 26px;
        text-align: start;
    }
    
    .hero .hero-img {
        width: 1000px;
        display: block;
    }
    
    .hero .hero-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    
    .hero .hero-text .downloadBtn-second {
        padding: 8px 15px;
        width: 32%;
        margin-left: 1em;
    }
    
    .hero .hero-text .downloadBtn-second a {
        font-size: 1rem;
    }
    
    /*End Hero */

    /*Start about*/
.about {
    padding: 0em 2em;
}

.about h1 {
    font-size: 2.5rem;
    margin-bottom: 0.40em;
}

.about p {
    font-size: 1.1rem;
}

.about .about-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.about .about-content .card {
    padding: 2em 2em;
}

.about .about-content .card svg {
    width: 85px;
}

.about .about-content .card .text h3 {
    font-size: 1.6rem;
    padding-top: 0.32em;
}
.about .about-content .card .text p {
    text-align: start;
    font-size: 0.90rem;
}

/*End about*/

/* Start section for vpnSpeed */
.vpn-speed {
    grid-template-columns: 1fr 1fr;
}

.vpn-speed .left h1 {
    font-size: 2.5rem;
}

.vpn-speed .left p {
    font-size: 1.4rem;
}

/*start map*/
.map {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 7em;
    padding: 1.5em;
}

.map .right h1 {
    font-size: 2.5rem;
}

.map .right p {
    font-size: 1rem;
    text-align: center;
}

/* End section for vpnSpeed */

/*start info*/
.info {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
    margin-top: 10em;
    padding: 1em 2em;
}

.info .left h1 {
    font-size: 2.5rem;
}

.info .left p {
    font-size: 1.1rem;
}

.info .left h5 {
    font-size: 1.2rem;
}

.info .left a {
    font-size: 0.98rem;
    padding: 8px 20px;
    margin-left: 15em;
}
/*end info*/

/*start setup*/
.setup {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 10em;
}

.setup .left h1 {
    margin-top: 5em;
    font-size: 2.5rem;
}

.setup .left p {
    font-size: 1.1rem;
}

.setup .left a {
    font-size: 1.2rem;
    padding: 10px 20px;
    position: relative;
    margin-left: 13em;
    margin-bottom: 2em;
}

.setup .right video {
    width: 100%;
    height: 50%;
    padding: 1em 10em;
}

/*end setup*/

/*start pricing plan*/
.pricing-plan .all-box {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 1em 5em;
}

.pricing-plan p {
    font-size: 1rem;
    margin-top: 0.58em;
    text-align: center;
}

.pricing-plan .box {
    margin-top: 3em;
    padding: 0em 5em;
}

.pricing-plan .box img {
    width: 50%;
    height: 50%;
}

.pricing-plan .box h2 {
    font-size: 1.5em;
    margin-top: 3em;
}

/*end pricing-plan*/

/*start plan*/
.plan {
    padding: 0em 2em;
}

.plan h1 {
    font-size: 2.5rem;
}

.plan p {
    font-size: 1.2rem;
}

.plan .plan-box {
    grid-template-columns: repeat(3,1fr);
    margin-top: 4em;
}

.plan .plan-box .plan-card:hover {
    transform: translateY(-10%)
}

.plan .plan-card p {
    font-size: 1.2rem;
}

.plan .plan-card h2 {
    font-size: 2.7rem;
}

.plan .plan-card h2 span {
    font-size: 1rem;
}

.plan .plan-card h3 {
    font-size: 0.95rem;
}

.plan .plan-card h4 {
    font-size: 1rem;
}

.plan h5 {
    font-size: 1.2rem;
    text-align: center;
}

.plan h5 a {
    color: var(--first-clr-);
    font-weight: 600;
}

/*end plan*/

/*start footer*/
footer {
    height: 55vh;
    margin-top: 8em;
}

footer .logo {
    padding: 2em 0em;
}

footer .logo h2 {
    font-size: 2.2rem;
}

footer .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0em 1em;
    gap: 10px;
    padding-bottom: 2.5em;
}

footer .link {
    margin-top: 1em;
}

footer .link h2 {
    font-size: 1.2rem;
}

footer h3 {
    font-size: 0.90rem;
    font-weight: 500;
}

footer .img-store a img {
    width: 35%;
    height: 35%;
    margin-left: 4em;
    margin-top: 2em;
}

/*end footer*/

}
